<ion-view view-title="{{'app_title' | translate }}">
  <ion-content style="overflow-y: auto;">
     <div class="item item-body"  style="background: #0d455f;text-align: center;color: white;">
     	{{'app_desc' | translate }}

     </div>
     <div class="item item-body"  style="background: #0d455f;text-align: center;color: white;">
     	<a style="text-decoration:none;" href="http://me.techiediaries.com">{{'app_author' | translate }}</a>

     </div>
     <!--<div class="item item-body"  style="background: #0d455f;text-align: center;color: white;">
	   	<button class="button button-full button-energized" ng-click="rate()">
            {{"rate" | translate }}
        </button>
     </div>-->


  </ion-content>
</ion-view>
